
@{
    ViewBag.Title = "CreateExcelSheet";
}

<h2>CreateExcelSheet</h2>

@{Html.BeginForm("CreateExcelSheet", "Report", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Export Report" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}