
@{
    ViewBag.Title = "CreateDocument";
}

<h2>CreateDocument</h2>


@{Html.BeginForm("CreateDocument", "Report", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Export Report" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}