
@{
    ViewBag.Title = "csvSheet";
}

<h2>csvSheet</h2>

@{Html.BeginForm("csvSheet", "Report", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Export Report" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}